body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image:url(https://w0.peakpx.com/wallpaper/582/539/HD-wallpaper-beautiful-nature-view.jpg);
      background-size: cover;
      color: rgb(253, 251, 251);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 100px;
    }
    .clock {
        display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      font-weight: bold;
      background: none;
      height: 100px;
      width: 400px;
      border-radius: 20px;
      box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    }
    .clock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alarm-box {
  margin-top: 20px;
  background: none;
  padding: 15px;
  border-radius: 15px;
  color: rgb(255, 254, 254);
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.alarm-box input,
.alarm-box select,
.alarm-box button {
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
}

.alarm-box button {
  background: hsl(130, 100%, 50%);
  cursor: pointer;
  color:rgb(0, 12, 12);
}
.stop button{
  background: red;
  color: azure;
}
