body {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image:url(https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?cs=srgb&dl=pexels-thatguycraig000-1563356.jpg&fm=jpg);
      background-size: cover;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-top: 100px;
    }
    .clock {
        display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: bold;
      background-color: black;
      height: 50px;
      width: 150px;
      border-radius: 20px;
      box-shadow: 0 8px 25px rgba(0,0,0,0.5);
    }